body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.all-wrapper {
    padding: 20px;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 20px auto 0;
}

.input-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.video-element {
    width: 100%;
    height: auto;
    display: block;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.speed-indicator {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1;
}

.video-path, .load-video {
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 10px;
}

.load-video {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.lang-toggle {
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}

